<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base::parent(~{::#content}, ~{::title}, ~{::script})}"
>
  <head>
    <title th:text="${loggedInUser.name} + ' | All Employee Visit Records'">
      Visit Records Page
    </title>
  </head>
  <body>
    <div id="content">
      <!-- Admin Sidebar -->
      <div
        th:if="${loggedInUser != null}"
        th:replace="user/sidebar :: sidebar"
      ></div>

      <div class="pl-66 pt-5 flex flex-col text-center">
        <h1 class="text-amber-50 text-5xl">All Your Visit Records</h1>
        <p class="text-amber-50">List of your visit records</p>

        <div class="visits_container p-5">
          <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <!-- Search Form -->
            <div class="flex justify-center">
              <form th:action="@{'/user/visit/search'}">
                <div
                  class="flex items-center justify-start gap-2 flex-wrap md:flex-nowrap pb-4 bg-white dark:bg-gray-900"
                >
                  <!-- Dropdown -->
                  <div>
                    <select
                      name="field"
                      id="field_select"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                      <option selected>Select Field</option>
                      <option value="scoutName">Scout Name</option>
                      <option value="companyName">Company Name</option>
                      <option value="contactPersonName">Contact Person</option>
                      <option value="placeOfVisit">Place of Visit</option>
                      <option value="newOrRevisit">New Or Revisit</option>
                      <option value="contactNumber">Contact Number</option>
                      <option value="natureOfBusiness">
                        Nature of Business
                      </option>
                      <option value="computer">Computer</option>
                      <option value="tally">Tally</option>
                      <option value="opportunity">Opportunity</option>
                      <option value="revisitRequired">Revisit Required</option>
                      <option value="agreedForDemo">Agreed for Demo</option>
                    </select>
                  </div>

                  <!-- Search Input -->
                  <div class="relative">
                    <div
                      class="absolute inset-y-0 left-0 flex items-center ps-3 pointer-events-none"
                    >
                      <svg
                        class="w-4 h-4 text-gray-500 dark:text-gray-400"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 20 20"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                        />
                      </svg>
                    </div>
                    <input
                      name="keyword"
                      type="text"
                      id="table-search-visits"
                      class="p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Search for visit records"
                    />
                  </div>

                  <!-- Search Button -->
                  <div>
                    <button
                      type="submit"
                      class="px-2 py-1.5 rounded-lg bg-blue-700"
                    >
                      Search
                    </button>
                  </div>

                  <!-- Export Button -->
                  <div>
                    <button
                      type="button"
                      onclick="exportData()"
                      class="flex items-center px-2 py-1.5 rounded-lg bg-blue-700"
                    >
                      Export
                    </button>
                  </div>
                </div>
              </form>
            </div>

            <table
              id="visit_table"
              class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
            >
              <thead
                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
              >
                <tr>
                  <th scope="col" class="px-6 py-3">Date</th>
                  <th scope="col" class="px-6 py-3">Scout Name</th>
                  <th scope="col" class="px-6 py-3">
                    No. of Companies Visited
                  </th>
                  <th scope="col" class="px-6 py-3">
                    No. of Companies using Tally
                  </th>
                  <th scope="col" class="px-6 py-3">New/Revisit</th>
                  <th scope="col" class="px-6 py-3">
                    Prospect For New License
                  </th>
                  <th scope="col" class="px-6 py-3">Other Opportunities</th>
                  <th scope="col" class="px-6 py-3">No. of Demo Agreed</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  th:each="v : ${pageVisitRecord.content}"
                  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
                >
                  <!-- Date -->
                  <td
                    class="px-6 py-4"
                    th:text="${#dates.format(#dates.createNow(), 'dd-MM-yyyy')}"
                  ></td>

                  <!-- Scout Name -->
                  <td class="px-6 py-4" th:text="${v.scoutName}"></td>

                  <!-- No. of Companies Visited -->
                  <td
                    class="px-6 py-4"
                    th:text="${v.noOfCompaniesVisited}"
                  ></td>

                  <!-- No. of Companies using Tally -->
                  <td
                    class="px-6 py-4"
                    th:text="${v.noOfCompaniesUsingTally}"
                  ></td>

                  <!-- New/Revisit -->
                  <td class="px-6 py-4" th:text="${v.newOrRevisit}"></td>

                  <!-- Prospect for New License -->
                  <td
                    class="px-6 py-4"
                    th:text="${v.prospectForNewLicense}"
                  ></td>

                  <!-- Other Opportunities -->
                  <td class="px-6 py-4" th:text="${v.otherOpportunities}"></td>

                  <!-- No. of Demo Agreed -->
                  <td class="px-6 py-4" th:text="${v.noOfDemoAgreed}"></td>
                </tr>
              </tbody>
            </table>

            <!-- Pagination -->
            <nav aria-label="Page navigation example" class="pt-10 pb-5">
              <ul class="inline-flex -space-x-px text-base h-10">
                <li th:unless="${pageVisitRecord.first}">
                  <a
                    th:href="@{'/user/visit?size='+${pageSize} + '&page='+${pageVisitRecord.number-1}}"
                    class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                    >Previous</a
                  >
                </li>
                <li
                  th:each="i : ${#numbers.sequence(0, pageVisitRecord.totalPages - 1)}"
                >
                  <a
                    th:href="@{'/user/visit?size='+${pageSize} + '&page='+${i}}"
                    th:text="${i + 1}"
                    th:classappend="${i == pageVisitRecord.number} ? 'text-2xl font-bold border border-gray-600' : 'bg-gray-100'"
                    class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  ></a>
                </li>
                <li th:unless="${pageVisitRecord.last}">
                  <a
                    th:href="@{'/user/visit?size='+${pageSize} + '&page='+${pageVisitRecord.number+1}}"
                    class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                    >Next</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <!-- Scripts -->
      <script src="https://cdn.jsdelivr.net/npm/@linways/table-to-excel@1.0.4/dist/tableToExcel.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script th:src="@{'/js/Visits.js'}"></script>
      <script>
        console.log("Visit records page script loaded");
        function exportData() {
          TableToExcel.convert(document.getElementById("visit_table"), {
            name: "visit_records.xlsx",
            sheet: {
              name: "Sheet 1",
            },
          });
        }
      </script>
    </div>
  </body>
</html>
